.testing-square
  background-color: red
  border: 1px solid green
  // display: inline


.fretboard
  display: grid
  width: 100vw
  height: 50vh
 
.string
  display: grid
  // height: 200px

.fretboard-string
  display: grid
  grid-template-rows: 1fr
  grid-template-columns: repeat(20, 1fr)

  
.fret-container
  display: grid
  align-items: center
  justify-items: center
  place-content: center


// .fret-container

.fret-background
  // // display: none
  position: absolute
  // background-color: red
  // border: 1px solid blue
  // grid-row-end: span1

.fret-content
  position: absolute

.fret-dot-container
  display: grid
  // place-content: center
  // align-self: center

.fret-dot-content
  position: absolute
  align-self: center
  justify-self: center

