.show-fret-enter-from
  transform: scale(0)
.show-fret-enter-to
  transform: scale(1)
.show-fret-enter-active
  transition: transform .15s cubic-bezier(.86,.09,.46,1.05)

.show-fret-leave-from
  transform: scale(1)
.show-fret-leave-to
  transform: scale(0)
.show-fret-leave-active
  transition: transform .15s cubic-bezier(.77,.14,.32,.9)


.fret-animate-out-scale
  transform: scale(0)
  transition: transform 0.5s

.fret-animate-in-scale
  transform: scale(1)

  transition: transform 0.5s