.show-fret-enter-from
  transform: scale(0)
.show-fret-enter-to
  transform: scale(1)
.show-fret-enter-active
  transition: all .1s ease-in

.show-fret-leave-from
  transform: scale(1)
.show-fret-leave-to
  transform: scale(0)
.show-fret-leave-active
  transition: all .15s ease-in